
  <nav class="navbar navbar-expand-md bg-white shadow-sm sticky-top px-3">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand" href="/"><i class="fa-solid fa-compass"></i></a>
  
      <!-- Mobile Sidebar Toggler -->
      <button class="btn d-md-none sidebar-toggler" id="sidebarToggle">
        <i class="fa-solid fa-bars"></i>
      </button>
  
      <!-- Normal Navbar for Desktop -->
      <div class="collapse navbar-collapse d-none d-md-flex" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore</a>
        </div>
  
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">Airbnb your home</a>
          <% if(!currUser){ %>
          <a class="nav-link active" aria-current="page" href="/signup"><b>Signup</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
          <% } %>
          <% if(currUser) { %>
          <a class="nav-link" href="/logout"><b>Log out</b></a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>
  
  <!-- Sidebar for Mobile -->
  <div class="sidebar" id="sidebar">
    <div class="sidebar-header">
      <h5>Menu</h5>
      <button class="close-sidebar" id="closeSidebar"><i class="fa-solid fa-times"></i></button>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link" href="/listings">Explore</a></li>
      <li class="nav-item"><a class="nav-link" href="/listings/new">Airbnb your home</a></li>
      <% if(!currUser){ %>
      <li class="nav-item"><a class="nav-link" href="/signup"><b>Signup</b></a></li>
      <li class="nav-item"><a class="nav-link" href="/login"><b>Log in</b></a></li>
      <% } %>
      <% if(currUser) { %>
      <li class="nav-item"><a class="nav-link" href="/logout"><b>Log out</b></a></li>
      <% } %>
    </ul>
  </div>
  
  <!-- Overlay (to close sidebar when clicking outside) -->
  <div class="overlay" id="overlay"></div>

